body {
    background-color: #b4b4b4; /* Black background */
    color: #000000; /* White text color */
    font-family: 'Gothic', sans-serif; /* Gothic font family */
}

#container {
    width: 300px; /* Adjust the width */
    padding: 20px;
    margin: 0 auto;
}

h1 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 0; /* Set margin-top to 0 to align the text at the top */
    margin-bottom: 20px;
}


#textInput {
    border: 2px solid #3498db; /* Add a blue border */
    padding: 15px; /* Add some padding for spacing inside the element */
    font-size: 14px; /* Set the font size */
    border-radius: 10px; /* Add rounded corners to the element */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    outline: none; /* Remove the default outline */
    width: 250px; /* Set the width to 200px */
    height: 40px; /* Set the height to 40px */
}

/* Add a hover effect */
#textInput:hover {
    border-color: rgb(51, 255, 170); /* Change the border color on hover */
}

/* Add a focus effect (when the element is clicked or focused) */
#textInput:focus {
    border-color: #e4cecc; /* Change the border color when focused */
}
p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

button {
    background-color: #666; /* Dark gray button background */
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #333; /* Darker gray on hover */
}