body {
    background-color: #b4b4b4; /* Black background */
    color: #000000; /* White text color */
    font-family: 'Gothic', sans-serif; /* Gothic font family */
}

#container {
    width: 300px; /* Adjust the width */
    padding: 20px;
    margin: 0 auto;
    position: relative;
    border: 3px solid rgb(124, 139, 124);
}

h1 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 0; /* Set margin-top to 0 to align the text at the top */
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    font-family: Calibri, "Helvetica", san-serif;
    line-height: 1.5em;
    border-bottom:1px solid #CCC;
    padding-bottom:3px;
}


#textInput {
    border: 2px solid #3498db; /* Add a blue border */
    padding: 15px; /* Add some padding for spacing inside the element */
    font-size: 14px; /* Set the font size */
    border-radius: 10px; /* Add rounded corners to the element */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    outline: none; /* Remove the default outline */
    width: 250px; /* Set the width to 200px */
    height: 40px; /* Set the height to 40px */
}

/* Add a hover effect */
#textInput:hover {
    border-color: rgb(51, 255, 170); /* Change the border color on hover */
}

/* Add a focus effect (when the element is clicked or focused) */
#textInput:focus {
    border-color: #e4cecc; /* Change the border color when focused */
}
p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}



.vertical-center {
    background-color: #666; /* Dark gray button background */
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    margin-left: 80px;;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    justify-content: center; /* Center the button horizontally */
    align-items: center; /* Center the button vertically */
}

button:hover {
    background-color: #333; /* Darker gray on hover */
}



.check-list {
    margin: 0;
    padding-left: 1.2rem;
  }
  
  .check-list li {
    position: relative;
    list-style-type:circle;
    margin-left: 3.0rem;
    margin-bottom: 0.7rem;
  }


  
  
  /* Boilerplate stuff */
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  html {
    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 62.5%;
  }
  
  body {
    font-size: 1.6rem; /* 18px */
    background-color: #efefef;
    color: #324047
  }
  

  
  section {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
  }
  
  div {
    margin: auto;
  }
  
  form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

label {
    margin-right: 10px; /* Adjust as needed to add space between the radio buttons */
    margin-bottom: 20px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

